@import 'src/styles/variables';

.oval {
  position: relative;
  width: 100%;
  max-width: 141.4rem;
  height: 19.8rem;

  border: 2px solid rgba($primary, 0.2);
  border-radius: 50%;
  z-index: -1;

  &__view-control {
    cursor: pointer;
    position: absolute;
    width: 4.8rem;
    height: 4.8rem;

    bottom: -2.4rem;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
    background-color: $primary;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      display: block;

      top: 50%;
      transform: translateY(-50%);
      left: 2.4rem;

      border: 8px solid transparent;
      border-left: 10px solid $white;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;

      top: 50%;
      transform: translateY(-50%);
      left: 0rem;

      border: 8px solid transparent;
      border-right: 10px solid $white;
    }
  }

  &__img {
    position: absolute;
    top: -37rem;
    left: 20rem;
  }
}
