@import 'src/styles/variables';

.text {
    width: 100%;
    max-width: 50rem;

    display: flex;
    flex-direction: column;

    &__subtitle {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;

        color: $primary;
        margin-bottom: 1.2rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: 7.2rem;
        font-weight: 700;

        color: $primary;
        margin-bottom: 2.4rem;
    }

    &__description {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;

        color: rgba($primary, 0.5);
        font-family: 'HelveticaNeueCyr',serif;

        margin-bottom: 4rem;
    }
}