@import "./fonst.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}

html {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "TradeGothic LT CondEighteen", serif;
  background-color: $main-color;
}

.App {
  width: 100%;
  max-width: 192rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 6rem 12rem 0 12rem;
}

a {
  text-decoration: none;
  color: $primary;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &__count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: -1rem;
    right: -0.8rem;

    width: 2.4rem;
    height: 2.4rem;

    background-color: $red;
    border-radius: 50%;

    color: $white;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "serif";
  }

  &_prev,
  &_next {
    position: relative;
    width: 100%;
    min-width: 5.9rem;
    height: 4.4rem;

    align-items: start;

    font-size: 2rem;
    font-weight: 700;
    font-family: "TradeGothic LT CondEighteen", serif;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      display: block;

      bottom: 0.5rem;
      left: 0;

      width: 100%;
      height: 0.2rem;

      background-color: $black;
    }
  }

  &_prev {
    &::after {
      content: "";
      position: absolute;
      display: block;

      bottom: 0;
      left: -1.2rem;

      border: 6px solid transparent;
      border-right: 12px solid $black;
    }
  }

  &_next {
    &::after {
      content: "";
      position: absolute;
      display: block;

      bottom: 0;
      right: -1.2rem;

      border: 6px solid transparent;
      border-left: 12px solid $black;
    }
  }

  &_buy {
    min-width: 20.4rem;
    height: 4.4rem;


    font-size: 2.4rem;
    font-weight: 700;
    font-family: "TradeGothic LT CondEighteen", serif;
    text-transform: uppercase;
  }
}

.icon {
  width: 100%;

  &_user {
    max-width: 3rem;
    height: 3rem;
  }

  &_basket {
    max-width: 2.7rem;
    height: 3.15rem;
  }
}
