.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 6.3rem;

  &__img {
    position: absolute;
    bottom: -20rem;
    left: 32rem;
    z-index: 0;
  }

  &__parameters {
    width: 100%;
    max-width: 32rem;
  }

  &__info {
    z-index: 1;
  }

  &__info-subtitle {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(19, 18, 18, 1);
    margin-bottom: 1.2rem;
  }

  &__info-title {
    font-size: 7.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(19, 18, 18, 1);
    margin-bottom: 2.4rem;
  }

  &__info-description {
    width: 100%;
    max-width: 49rem;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(19, 18, 18, 0.5);
    margin-bottom: 4rem;
  }

  &__info-video {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(19, 18, 18, 1);
  }
}
