.header__button {
    width: 100%;
    max-width: 11.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-user,
    &-basket {
        width: 100%;
        max-width: 3.6rem;
        height: 3.6rem;
    }

    &-basket {
        position: relative;

        &_active {
            position: absolute;
            top: 10rem;
            left: 10rem;
            
            display: block;
            width: 10rem;
            height: 10rem;

            background-color: red;
        }
    }
}