.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    padding: 5.8rem 8rem;
    background-color: white;

    &__bar {
        display: flex;
        justify-content: space-between;

        width: 100%;
        max-width: 18rem;
    }
}