@import 'src/styles/variables';

.footer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: $white;

  padding: 5.8rem 8rem;

  &__button {
    display: flex;
    gap: 5.6rem;
  }
}
